<div class="">
  <dl class="api_key_permissions">
    <dt><%= t '.scopes' %></dt>
    <dd><%= to_sentence api_key_permissions.scopes %></dd>
    <dt><%= t '.valid_for' %></dt>
    <dd><%= duration_string api_key_permissions.valid_for %></dd>
    <dt><%= t '.gems' %></dt>
    <dd><%= to_sentence(api_key_permissions.gems.presence || [t("api_keys.all_gems")])  %></dd>
  </dl>
</div>
